.coupon-bg {
    background: url('../img/banner/b1.jpg');
}
.read-bg {
    background: url('../img/banner/b19.jpg');
}
.know-bg {
    background: url('../img/about/banner.png');
}
.hash-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px 15px;
}
.hash-banner__title, 
.hash-banner__descr {
    color: var(--white-color);
}
.hash-banner__descr {
    text-align: center;
}