.hero {
    width: 100%;
    background: url('../img/hero-bg.png') no-repeat;
    background-position: top 25% right 0;
    background-size: cover;
}
.hero__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 90vh;
}
.hero__subtitle {
    display: inline-block;
    font-size: 20px;
    color: var(--dark-text);
    font-weight: 500;
    margin-bottom: 15px;
}
.hero__title {
    color: var(--main-color);
}
.hero__btn {
    font-size: 15px;
    font-weight: 700;
    background: url('../img/button-bg.png') no-repeat;
    color: var(--main-color);
    padding: 14px 80px 14px 65px;
}