.notification {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background: url('../img/notifications/b2.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    padding: 40px 15px;
}
.notification__subtitle,
.notification__title {
    text-transform: capitalize;
    color: var(--white-color);
    margin-bottom: 10px;
}
.notification__subtitle {
    font-size: 16px;
    font-weight: 500;
}
.notification__title {
    font-size: 30px;
    font-weight: 700;
}
.notification__title span {
    color: #ef3636;
}
.notification__link:hover {
    background-color: var(--main-color);
    color: var(--white-color);
}