.products {
    text-align: center;
}
.products__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 20px;
    padding-top: 20px;
}
.product {
    position: relative;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    border-radius: 25px;
    transition: 0.2s ease;
}
.product__img {
    width: 100%;
    border-radius: 20px;
}
.product__descr {
    text-align: start;
    padding: 10px 0 10px 5px;
}
.product__brand {
    display: block;
    font-size: 16px;
    color: #606063;
    margin-bottom: 7px;
}
.product__name {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    color: var(--cod-text);
    margin-bottom: 7px;
}
.product__name:hover {
    color: var(--main-color);
}
.product__stars {
    margin-bottom: 7px;
}
.product__star {
    font-size: 12px;
    color: rgb(243, 181, 25);
}
.product__price {
    font-size: 16px;
    font-weight: 700;
    color: var(--main-color);
}
.product__btn {
    position: absolute;
    bottom: 15px;
    right: 10px;
    border-radius: 50px;
    background-color: #e8f6ea;
    border: 1px solid var(--border-color);
    width: 40px;
    height: 40px;
}
.product__icon {
    line-height: 40px;
    color: var(--main-color);
}

.product-hover-shadow {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}